/* number css */
.number{
    position: relative;
background-image: url(../images/background/background2.webp);
background-size: cover;
background-attachment: fixed;
height: 300px;
}
.number-items{
    overflow: hidden;
    
}
.number-item{
    width: 25%;
    float: left;
    text-align: center;
}
.number-item .icon{
    color: #6195ff;
    margin-bottom: 15px;
}

.number-item-title{
    font-weight: bold;
    color: #fff;
    font-size: 30px;
}
.number-item-text{
    color: #fff;
}